# Ignore virtual environment folder
venv/

# Ignore environment variables file
.env

# SQLITE database
db.sqlite3

# Ignore all contents of media/product but not the media folder itself
/media/product/

# Exclude the media folder from being ignored
!/media/   
